process.module = ['devtools/ruby', 'apps/bowtie2']

params {
	input="/users/k1809704/FMT153_{1,2}.fastq.gz"
	outdir = "/mnt/lustre/groups/chmi/FMT/nfout"
	tracedir = "${params.outdir}/pipeline_info"
	catalog_type = 'gut_catalog'
	seq_platform = 'illumina'
	ini_file = '/users/k1809704/meteor/gut_msp_pipeline.ini'
	ALIEN_TRIMMER = "/mnt/lustre/groups/chmi/METEOR/AlienTrimmer/src/AlienTrimmer.jar"
	trimFasta = "/mnt/lustre/groups/chmi/METEOR/alienTrimmerPF8contaminants.fasta"
	meteor = "/mnt/lustre/groups/chmi/METEOR/meteor"
	reference = "/mnt/lustre/groups/chmi/METEOR/meteor_ref"
}

timeline {
	enabled = true
	file = "$params.outdir/timeline.html"
}

manifest {
	name = 'meteor-nf'
	author = 'Theo Portlock'
	homePage = 'https://github.com/theoportlock/meteor_pipeline'
	description = 'A metagenomics pipeline for the binning into MSPs'
	mainScript = 'main.nf'
	version = '1.0.0'
}
