//process.module = ['bioinfo-tools','AlienTrimmer']
//process.container = '/path/to/singularity.img'
//singularity.enabled = true

process.module = ['bioinfo-tools', 'ruby/2.6.2', 'bowtie2/2.3.4.1', 'java/OpenJDK_11.0.2']

params {
	input="/proj/snic2021-6-89/COVID/fastq/gs/HFFWNDSXY_103667-005-290_AGGATGGT-CGGAATAC_L004_R{1,3}.fastq.gz"
	outdir = '/proj/uppstore2019028/projects/metagenome/theo/metnfout'
	tracedir = "${params.outdir}/pipeline_info"
	meteor_counting_prefix_name = 'vs_hs_10_4_igc2_id95_rmHost_id95'
	catalog_type = 'gut_catalog'
	seq_platform = 'illumina'
	ini_file = '/home/theop/meteor/gut_msp_pipeline.ini'
	trimFasta = '/proj/uppstore2019028/projects/metagenome/alienTrimmerPF8contaminants.fasta'
	reference = '/proj/uppstore2019028/projects/metagenome/meteor.reference'
	meteor = '/proj/uppstore2019028/projects/metagenome/software/meteor'
	Rdir = '/proj/uppstore2019028/projects/metagenome/meteor_downstream_rscripts'
	ALIEN_TRIMMER = '/proj/uppstore2019028/projects/metagenome/software/AlienTrimmer/src'
}
