params {
forward_identifier="_1.fastq.gz"
reverse_identifier="_2.fastq.gz"
seq_data_dir="/proj/snic2020-6-153/delivery03711"
project_dir_rel="/proj/uppstore2019028/projects/metagenome/theo/newscripts/test"
meteor_counting_prefix_name="vs_hs_10_4_igc2_id95_rmHost_id95"
catalog_type="gut_catalog"
seq_platform="illumina"
trimFasta="/proj/uppstore2019028/projects/metagenome/alienTrimmerPF8contaminants.fasta"
meteorImportScript="/proj/uppstore2019028/meteor.2019.11.04/MeteorImportFastq.rb"
reference="/proj/uppstore2019028/projects/metagenome/meteor.reference"
meteor="/proj/uppstore2019028/projects/metagenome/software/meteor_linux_2019.11.04"
Rdir="/proj/uppstore2019028/projects/metagenome/meteor_downstream_rscripts"
//v_project_dir=$TMPDIR/$sampleId
//v_workdir="${v_project_dir}/working"
//v_fastqgz1=$(readlink -f ${fastqgzs[0]})
//v_fastqgz2=$(readlink -f ${fastqgzs[1]})
//v_fastqgz1_unzip="${v_workdir}/$(basename $v_fastqgz1 .gz).unzipped"
//v_fastqgz2_unzip="${v_workdir}/$(basename $v_fastqgz2 .gz).unzipped"
//v_trimmedS="${v_workdir}/${sampleId}.trimmed.s.fastq"
//v_final1="${v_workdir}/${sampleId}_1.fastq"
//v_final2="${v_workdir}/${sampleId}_2.fastq"
//v_sampledir=${v_project_dir}/${catalog_type}/sample/${sampleId}
//v_downstream_dir="$v_project_dir/Downstream"
}
