// Profile config names for nf-core/configs
process.module = ['apps/singularity']

params {
  config_profile_description = 'Kings College London Rosalind HPC'
  config_profile_contact = 'Theo Portlock'
  config_profile_url = 'https://www.rosalind.kcl.ac.uk/'
  project = null
  clusterOptions = null
  schema_ignore_params = "genomes,input_paths,cluster-options,clusterOptions,project"
  save_reference = true
  max_memory = 100.GB
  max_cpus = 15
  max_time = 168.h
  partition = 'shared'
}

singularity {
  enabled = true
}

process {
  executor = 'slurm'
  maxRetries = 2
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
}

executor {
	submitRateLimit = '1 sec'
}
