// Profile config names for nf-core/configs
params {
  config_profile_description = 'Kings College London Rosalind HPC'
  config_profile_contact = 'Phil Ewels (@ewels)'
  config_profile_url = 'https://www.rosalind.kcl.ac.uk/'
  project = null
  clusterOptions = null
  schema_ignore_params = "genomes,input_paths,cluster-options,clusterOptions,project"
}

singularity {
  enabled = true
}

process {
  executor = 'slurm'
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
}

params {
  save_reference = true
  max_memory = 125.GB
  max_cpus = 16
  max_time = 240.h
}
