// Profile config names for nf-core/configs
params {
  config_profile_description = 'Laptop configuration'
  config_profile_contact = 'Theo Portlock'
  config_profile_url = 'https://www.githubio.theoportock.com/'
  project = null
}

docker {
  enabled = false
}

process {
  executor = 'slurm'
}

params {
  save_reference = true
  max_memory = 8.GB
  max_cpus = 4
}
